@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* Ensure all form elements have visible black text by default */
@layer base {
  select,
  input,
  textarea,
  option {
    color: #111827;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
